<div class="header-container">
  <div class="org-logo">
    <img src="assets/logos/re-study-logo.svg" alt="">
    <h2 class="org-name">ReStudy</h2>
  </div>
  <div class="user-actions">
    <button class="user-profile" mat-button [matMenuTriggerFor]="profileMenu">
      @if (isLoggedIn) {
        <mat-icon>account_circle</mat-icon> {{userName}}
      }
      @else {
        {{CreateOrRegister}}
      }
    </button>
    <mat-menu #profileMenu="matMenu">
      <button class="logout-button" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{isLoggedIn ? 'Logout' : 'Login'}}</span>
      </button>
    </mat-menu>
  </div>
</div>
