@use '../../../../scss/variables' as vars; 

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: vars.$primary-background-color;
    color: vars.$white-color;
    border-bottom: #0e0d0d 1px solid;
    .org-logo{
        display: flex;
        gap: 10px;
        align-items: center;
        img {
            height: 45px;
        }
        .org-name{
            font-size: 28px;
        }
    }

    .user-actions {
        display: flex;
        justify-content: flex-end;
        .user-profile {
          padding: 0.5em;
          border-radius: 10px;
          display: flex;
          align-items: center;
          background-color: vars.$side-nav-bg;
          color: vars.$side-nav-color;
          gap: 8px;
          cursor: pointer;
          border: none;
          font-weight: 600;
          button{
            height: 20px !important;
          }
        }
      }
      
    }
    .logout-button{
      background-color: vars.$side-nav-bg !important;
      color: vars.$side-nav-color !important;
      width: 160px !important;
    }