@use '../../../../scss/variables.scss' as vars;

.side-nav-container{
    background-color: vars.$side-nav-bg;
    height: 100%;
    color: vars.$side-nav-color;
    padding: 18px 15px;
    .nav-items {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .nav-item{
            padding: 10px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}