<div class="welcome-container">
  <div class="welcome-header">
    <span class="tagline"><strong>Re</strong>set your mind– <strong>Re</strong>start your focus</span>
  </div>
  <div class="welcome-main">
    <h1>Say goodbye to<br>procrastination.<br>and say<br>
      <span class="hello">Hello ReStudy!!</span>
    </h1>
    <p>
      ReStudy isn’t just another study app — it’s your partner in<br>
      consistent growth. With tools designed to enhance<br>
      concentration and drive, you’ll build study habits that actually stick.
    </p>
    <div class="button-container">
      <button mat-raised-button color="black" class="get-started" (click)="onGetStarted()">
        Get Started
      </button>
    </div>
  </div>
</div>
