.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .main-content {
        flex: 1;
        overflow: auto;
        position: relative;
        display: flex;

        .outlet {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;
            flex: 1;
        }
    }
}