/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:'Nunito Sans',Roboto, "Helvetica Neue", sans-serif; }
*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

//Global Styles
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background: none;
}