<div class="concept-form-container">
  <button mat-stroked-button color="primary" (click)="goToList()">Go to Concept List</button>

  <h2>{{ isEditMode ? 'Edit Concept' : 'Add Concept' }}</h2>

  <form [formGroup]="conceptForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Concept Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="2"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <app-date-picker [label]="'Scheduled Date'" formControlName="scheduledDate" [required]="true"></app-date-picker>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Repetition Gap (Days)</mat-label>
      <input matInput formControlName="repetitionGap" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Duration (Minutes)</mat-label>
      <input matInput formControlName="duration" type="number" />
    </mat-form-field>

    <div class="action-buttons">
      <button mat-flat-button color="primary" type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
      <button mat-stroked-button color="warn" [style]="{ background: 'white'}" type="button">Cancel</button>
    </div>
  </form>
</div>
